{% extends "site_base.html" %}

{% block body_class %}blog{% endblock %}


{% block body %}
    <div class="row blog-container">
        <div class="col-md-3 sidebar">
            {% block sidebar %}
            {% if user.is_authenticated %}
                <h1>
                    Welcome, {{ request.user.get_username }}!
                </h1>
                <p class="lead"><p>

                <br>
                Your full name is <u>{{ request.user.get_full_name }}</u>
                <br>
                Your email address is <u>{{ request.user.email }}</u>
                <br>
                <br>
                <br>

                Manage your posts:
                <ul>

                <li> <a href="{% url 'post' %}"><u>Add new post</u></a></li>
                <li> <a href="{% url 'user_posts' %}"><u>Update and Delete post</u></a></li> 
            
                </ul>  

                </p>
                </p>
                
            {% endif %}       
            {% endblock %}
        </div>
        <div class="col-md-8 blog-content">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}