
{% extends "blogs/blog_base.html" %}



{% block body_class %}blog{% endblock %}


{% block body %}
    <div class="row blog-container">
        <div class="col-md-3 sidebar">
            {% block sidebar %}
                <h1>
                    <a href="#">Login</a>
                </h1>
            {% endblock %}

            <form action="/blogs/login/" method="post">
            {% csrf_token %}
            <table>
            	{% if form.errors%}
				<i> <h1>invalid</h1> </i>
				{% endif %}
				
				<tr>
					<td>{{ form.username.label_tag}}</td>
					<td>{{ form.username }}</td>
				</tr>
				<tr>
					<td>{{ form.password.label_tag}}</td>
					<td>{{ form.password }}</td>
				</tr>
				


			</table>
			
			
			<!-- {{form.as_p}} -->
			<input type="submit" value="Submit" />
			</form>
			
			
            </div>
        <div class="col-md-8 blog-content">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}