{% extends "site_base.html" %}

{% block title %}Create Post{% endblock %}

{% block body %}

        <h1>Create post</h1>
        {% if posted %}
        <strong>You have successfully created a post.</strong>
        <a href="/">Return to the homepage?</a><br />
        {% else %}
        <form id="user_form" method="post" action=""
                enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_post_form.as_p }}
            
            <input type="submit" name="submit" value="Post" />
        </form>
        {% endif %}

        
{% endblock %}