{% extends "site_base.html" %}

{% block title %}Sign up{% endblock %}

{% block body %}

        <h1>Sign up!</h1>

        {% if registered %}
        <strong>You have already signed up.</strong>
        <a href="/">Return to the homepage?</a><br />
        {% else %}
        <form id="user_form" method="post" action=""
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}
     
            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Sign Up" />
        </form>
        {% endif %}

        
{% endblock %}