{% extends "theme_base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block style_base %}
    <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
    <link href="{% static "css/site.css" %}" rel="stylesheet">
    {% block extra_style %}{% endblock %}
{% endblock %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block nav %}
<ul class="nav navbar-nav">
    <li id="tab_first">
        <a href="{% url 'home' %}">Home</a>
    </li>
    <li id="tab_second" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Sections
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            {% for section in sections %}
            <li><a href="/{{ section.slug }}">{{ section.name }}</a></li>
            {% endfor %}
        </ul>
    </li>
    <li id="tab_third">
        <a href="{% url 'contact' %}">Contact Us</a>
    </li>
    <li id="tab_fourth">
        {% if user.is_authenticated %}
        <a href ="/blogs/logout/"> Logout</a>
        {% else %}
        <a href ="/blogs/login/"> Login</a>
        <li>
        <a href ="/blogs/signup/"> Sign up</a>
        </li>
        {% endif %}
    </li>
</ul>{% endblock %}
{% block footer_base %}{% endblock %}


{% block extra_body_base %}
    {% block extra_body %}{% endblock %}
{% endblock %}


{% block script_base %}
    <script src="{% block jquery_src %}{% static "pinax/js/jquery.js" %}{% endblock %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>
    {% block extra_script %}{% endblock %}
{% endblock %}